# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Database (MySQL)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=stock
DB_DEBUG=false

# Default user created by `node ace db:seed`
SEED_USER_EMAIL=admin@stock.local
SEED_USER_PASSWORD=changeme123
SEED_USER_NAME=Admin
